<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Prince of Persia: The Two Thrones</title>
		<link rel="stylesheet" href="../CSS/style.css">
		<meta name="keywords" content="Prince of Persia: The Two Thrones">
		<meta name="description" content="Prince of Persia: The Two Thrones is an action-adventure video game developed and published by Ubisoft Montreal. It was released in December, 2005 in North America for the Xbox, Microsoft Windows, PlayStation 2, and the Nintendo GameCube.">
		<meta name="author" content="Andrew Teryanik">
	</head>
	<body>
        <div id="container">
           <!--------------Header----------------->
            <div id="header"> 
                <img class="logo" src="../Images/Home/logo5.png">
                <div class="search">
                    <form action="" method="">
                        <input class="search-2" type="text" name="first_name">
                        <input class="search-3" type="submit" value="Search">
                    </form>
                </div>
            </div>
                <!--------------Menu----------->
           <div id="menu">
                <div class="nav">
                    <ul>
                       <li><a href="../Index.html">Home</a></li>
                       <li><a href="../Views/Story.html">Story</a></li>
                       <li><a href="../Views/Gameplay.html">Gameplay</a></li>
                       <li><a href="../Views/Review.html">Review</a></li>
                       <li><a href="../Views/Characters.html">Characters</a></li>
                       <li><a href="">Enemies</a>
                           <ul class="dropdown">
                               <li><a href="../Views/Warriors.html">Warriors</a></li>
                               <li><a href="../Views/Boss.html">Boss</a></li>
                           </ul>
                       </li>
                       <li><a href="../Views/Weapon.html">Weapon</a></li>
                       <li><a href="../Views/Cheats.html">Cheats</a></li>
                       <li><a href="../Views/Fight_methods.html">Fight</a>
                       <li><a href="">Images</a>
                          <ul class="dropdown">
                               <li><a href="../Views/Location.html">Location</a></li>
                               <li><a href="../Views/Screenshots.html">Screenshots</a></li>
                          </ul>
                       </li>
                       <li><a href="../Views/Project.html">Project</a></li>
                       <li><a href="../Views/Facts.html">Facts</a></li>
                   </ul>
                </div>
            </div>
            <!--------------Content----------->
            <div id="content">    
                  <div class="boss">
                     <div class="left">
                         <img src="../Images/Enemy/Vizier.jpg" alt="Vizier"><p> Vizier: Perpetrator of all Babylon's disasters. Having deadened Kaileena, and then himself, he undergoes the metamorphosis. He seizes power on Sands of Time and becomes the powerful monster. The prince's main goal is to find and to slay him.</p><br>
                     </div>
                     <div class="right">
                         <img src="../Images/Enemy/Dark%20Prince.jpg" alt="Dark Prince"><p>Dark Prince: Dark alter ego of main hero, which possessed his body and the mind after freeing Sands of Time by the Vizier. He matches the Persian prince with his abilities and what's more he exceeds prince with help of perfect arms - blade on the chain called daggertail. Its only disadvantage is necessity of continuous regenerating it with sands of the vigor, which continuously drips.</p> <br>
                     </div>
                     <div class="left">
                         <img src="../Images/Enemy/Axe%20and%20Sword%20Twins.jpg" alt="Twins"><p>Twins: They appear on the level 31. The King's Road. One of brothers is equipped with powerful hatchet, the other one - large saber. They usually surround their victim during the fight attacking at the same time from both sides.</p><br>
                     </div>
                     <div class="right">
                         <img src="../Images/Enemy/The%20Stone%20Golem.jpg" alt="Golem"><p>Golem: He appears on the level 27. The City Gardens. The large, green monster is made from the stone probably, and therefore piercing through the skin is no use. As other bosses he has his weak point - calves.</p><br>
                     </div>
                 </div>
             </div>
        </div>
        <!--------------Footer----------->
            <div id="footer">
                <div class="contacts">
                     <ul>
                       <li><a href="../Views/Author.html">Author</a></li>
                       <li><a href="../Views/Contacts.html">Contacts</a></li>
                       <li><a href="../Views/Registration.html">Registration</a></li>
                       <li><a href="mailto://andrewteryanik@gmail.com">andrewteryanik@gmail.com</a></li>
                     </ul>
                </div>
                <!--<div class="up">
                    <a href="#header"><img src="../Images/Icons/arrow_top.png" title="Up"></a>
                </div>-->
          </div>
</body>
</html>


