<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Prince of Persia: The Two Thrones</title>
		<link rel="stylesheet" href="../CSS/style.css">
		<meta name="keywords" content="Prince of Persia: The Two Thrones">
		<meta name="description" content="Prince of Persia: The Two Thrones is an action-adventure video game developed and published by Ubisoft Montreal. It was released in December, 2005 in North America for the Xbox, Microsoft Windows, PlayStation 2, and the Nintendo GameCube.">
		<meta name="author" content="Andrew Teryanik">
	</head>
	<body>
        <div id="container">
           <!--------------Header----------------->
            <div id="header"> 
                <img class="logo" src="../Images/Home/logo5.png">
                <div class="search">
                    <form action="" method="">
                        <input class="search-2" type="text" name="first_name">
                        <input class="search-3" type="submit" value="Search">
                    </form>
                </div>
            </div>
                <!--------------Menu----------->
           <div id="menu">
                <div class="nav">
                    <ul>
                       <li><a href="../Index.html">Home</a></li>
                       <li><a href="../Views/Story.html">Story</a></li>
                       <li><a href="../Views/Gameplay.html">Gameplay</a></li>
                       <li><a href="../Views/Review.html">Review</a></li>
                       <li><a href="../Views/Characters.html">Characters</a></li>
                       <li><a href="">Enemies</a>
                           <ul class="dropdown">
                               <li><a href="../Views/Warriors.html">Warriors</a></li>
                               <li><a href="../Views/Boss.html">Boss</a></li>
                           </ul>
                       </li>
                       <li><a href="../Views/Weapon.html">Weapon</a></li>
                       <li><a href="../Views/Cheats.html">Cheats</a></li>
                       <li><a href="../Views/Fight_methods.html">Fight</a>
                       <li><a href="">Images</a>
                          <ul class="dropdown">
                               <li><a href="../Views/Location.html">Location</a></li>
                               <li><a href="../Views/Screenshots.html">Screenshots</a></li>
                          </ul>
                       </li>
                       <li><a href="../Views/Project.html">Project</a></li>
                       <li><a href="../Views/Facts.html">Facts</a></li>
                   </ul>
                </div>
            </div>
            <!--------------Content----------->
            <div id="content">    
                  <div class="characters">
                      <p>Throughout the game you will witness constant bickering between the light and the dark prince. Last strongly wants to eradicate the main hero of the good and turn it into a cynical egotist, which is characterized by great strength, but thinks only of himself. I must say that Prince slowly begin to move the same to the dark side, but who in the end will win you will know only at the end of the game. In the game there are other characters which can be read below.</p><br>
                      <img src="../Images/Heroes/P008.jpg" class="characters-img" alt="PRINCE"><br>
                      <p>Prince: Main hero controlled by the player. After dramatic experiences on the Island of the Time it is hard to tell that once he was cheerful, carefree youth. Traumatic experiences tied with Sands of Time and hundreds of fought struggles were embossed with cracks in his dangerous, severe face, now without the shadow of the smile. After the return to country overtaken by the ravages of war once again he has to take advantage of strength and acrobatic talents in order to overcome invaders and to rescue Babylon.</p><br>
                      <img src="../Images/Heroes/P003.jpg" class="characters-img" alt="KAILEENA"><br>
                      <p>Kailena: Empress of Time, rescued by the hero during the previous conflict with Dahaka. She left the Island of Time along with the prince in order to find serenity in Babylon. Unfortunately, by the end of travel, their boat is being flooded, and she is captured and slain by the Vizier. Thanks to her supernatural power she doesn't disappear from the prince's life despite her fleshly death. She stay with him as a voice in his head.</p><br>
                      <img src="../Images/Heroes/P007.jpg" class="characters-img" alt="FARAH"><br>
                      <p>Farah: Archer, perfectly known by the prince from former times when she was fighting at his side. As a result of the manipulation with Sands of Time she remembers neither the prince nor those events. It doesn't hamper her in merging with the prince in common struggle for saving Babylon. Her arch repeatedly rescues him from troubles, her sharp tongue - drives him mad.</p><br>
                      <img src="../Images/Heroes/P005.jpg" class="characters-img" alt="THE OLD MAN"><br>
                      <p>The old man: Sage in the red, who has looked after the prince since his childhood, treating him like his own son. He recognizes the Persian prince after his return to Babylon. He leads the rebellion raised by scared off urban dwellers thanks to his prophecies and instigation. They even manage to rescue the prince and Farah from troubles.</p>
                  </div>      
            </div>
        </div>
        <!--------------Footer----------->
            <div id="footer">
                <div class="contacts">
                     <ul>
                       <li><a href="../Views/Author.html">Author</a></li>
                       <li><a href="../Views/Contacts.html">Contacts</a></li>
                       <li><a href="../Views/Registration.html">Registration</a></li>
                       <li><a href="mailto://andrewteryanik@gmail.com">andrewteryanik@gmail.com</a></li>
                     </ul>
                </div>
                <!--<div class="up">
                    <a href="#header"><img src="../Images/Icons/arrow_top.png" title="Up"></a>
                </div>-->
          </div>
</body>
</html>


