<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Prince of Persia: The Two Thrones</title>
		<link rel="stylesheet" href="../CSS/style.css">
		<meta name="keywords" content="Prince of Persia: The Two Thrones">
		<meta name="description" content="Prince of Persia: The Two Thrones is an action-adventure video game developed and published by Ubisoft Montreal. It was released in December, 2005 in North America for the Xbox, Microsoft Windows, PlayStation 2, and the Nintendo GameCube.">
		<meta name="author" content="Andrew Teryanik">
	</head>
	<body>
        <div id="container">
           <!--------------Header----------------->
            <div id="header"> 
                <img class="logo" src="../Images/Home/logo5.png">
                <div class="search">
                    <form action="" method="">
                        <input class="search-2" type="text" name="first_name">
                        <input class="search-3" type="submit" value="Search">
                    </form>
                </div>
            </div>
                <!--------------Menu----------->
           <div id="menu">
                <div class="nav">
                    <ul>
                       <li><a href="../Index.html">Home</a></li>
                       <li><a href="../Views/Story.html">Story</a></li>
                       <li><a href="../Views/Gameplay.html">Gameplay</a></li>
                       <li><a href="../Views/Review.html">Review</a></li>
                       <li><a href="../Views/Characters.html">Characters</a></li>
                       <li><a href="">Enemies</a>
                           <ul class="dropdown">
                               <li><a href="../Views/Warriors.html">Warriors</a></li>
                               <li><a href="../Views/Boss.html">Boss</a></li>
                           </ul>
                       </li>
                       <li><a href="../Views/Weapon.html">Weapon</a></li>
                       <li><a href="../Views/Cheats.html">Cheats</a></li>
                       <li><a href="../Views/Fight_methods.html">Fight</a>
                       <li><a href="">Images</a>
                          <ul class="dropdown">
                               <li><a href="../Views/Location.html">Location</a></li>
                               <li><a href="../Views/Screenshots.html">Screenshots</a></li>
                          </ul>
                       </li>
                       <li><a href="../Views/Project.html">Project</a></li>
                       <li><a href="../Views/Facts.html">Facts</a></li>
                   </ul>
                </div>
            </div>
            <!--------------Content----------->
            <div id="content">    
                  <div class="gameplay">
                      <p>The game combines exploration and combat. Both elements make use of the Prince's acrobatic capability and agility. Throughout much of the game, the player must attempt to traverse the palace by running across walls, ascending or descending chasms by jumping back and forth between walls, avoiding traps, climbing structures and jumping from platform to platform, making other types of well-timed leaps, solving puzzles and using discovered objects to progress.</p>
                      <p>During combat, many of the same moves vital to the player in other situations can be put to use to overpower enemies. An example is the ability of the Prince to jump off walls in order to strike enemies decisively. The player generally attacks enemies and blocks using a dagger, although other objects or factors, such as the Dagger of Time and its time-control abilities eventually prove to be critical to victory.</p>
                      <p>In The Two Thrones, the Prince's acrobatic skills have improved and is now able to launch himself off walls at 45 degree angles at strategically placed vertical shutters, slide down chutes and balance on swinging poles, among other things. The designers have also improved the stealth system. Instead of merely being able to do more damage when striking without being seen, the game uses a speed-kill system. If the player does not complete the speed kill, the enemy knocks him off and the speed kill fails. The amount of moves or the length of time required depends on how strong the opponents are. The same system is also used in some of the boss battles.</p>
                      <p>The Prince also develops a split personality, known as the Dark Prince, and this alter-ego constantly bickers with him in his mind about right and wrong. At times, the Prince physically transforms into the Dark Prince. These transformations are scripted and not controlled by the player. During these times, however, the Prince retains control of his body, and the player still has control over the character. For the most part, the Prince's dark side is simply an inner voice.</p>
                      <p>When controlling the Dark Prince, the player loses the ability to wield a secondary weapon, instead using the "Daggertail", a bladed whip fused to his arm. This allows medium range combat moves and new interactions with the environment. The Dark Prince also constantly loses health as a result of the semi-transformation, with eventual death from the loss. He goes back to full health whenever he collects Sand, from either a monster or object. Also, his Daggertail gives him a different button combination for speed kills, in which he strangles his victims. Coming into contact with water allows the Prince to return to normal.</p>
                  </div>  
            </div>
        </div>
        <!--------------Footer----------->
            <div id="footer">
                <div class="contacts">
                     <ul>
                       <li><a href="../Views/Author.html">Author</a></li>
                       <li><a href="../Views/Contacts.html">Contacts</a></li>
                       <li><a href="../Views/Registration.html">Registration</a></li>
                       <li><a href="mailto://andrewteryanik@gmail.com">andrewteryanik@gmail.com</a></li>
                     </ul>
                </div>
                <!--<div class="up">
                    <a href="#header"><img src="../Images/Icons/arrow_top.png" title="Up"></a>
                </div>-->
          </div>
</body>
</html>


