<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Prince of Persia: The Two Thrones</title>
		<link rel="stylesheet" href="../CSS/style.css">
		<meta name="keywords" content="Prince of Persia: The Two Thrones">
		<meta name="description" content="Prince of Persia: The Two Thrones is an action-adventure video game developed and published by Ubisoft Montreal. It was released in December, 2005 in North America for the Xbox, Microsoft Windows, PlayStation 2, and the Nintendo GameCube.">
		<meta name="author" content="Andrew Teryanik">
	</head>
	<body>
        <div id="container">
           <!--------------Header----------------->
            <div id="header"> 
                <img class="logo" src="../Images/Home/logo5.png">
                <div class="search">
                    <form action="" method="">
                        <input class="search-2" type="text" name="first_name">
                        <input class="search-3" type="submit" value="Search">
                    </form>
                </div>
            </div>
                <!--------------Menu----------->
           <div id="menu">
                <div class="nav">
                    <ul>
                       <li><a href="../Index.html">Home</a></li>
                       <li><a href="../Views/Story.html">Story</a></li>
                       <li><a href="../Views/Gameplay.html">Gameplay</a></li>
                       <li><a href="../Views/Review.html">Review</a></li>
                       <li><a href="../Views/Characters.html">Characters</a></li>
                       <li><a href="">Enemies</a>
                           <ul class="dropdown">
                               <li><a href="../Views/Warriors.html">Warriors</a></li>
                               <li><a href="../Views/Boss.html">Boss</a></li>
                           </ul>
                       </li>
                       <li><a href="../Views/Weapon.html">Weapon</a></li>
                       <li><a href="../Views/Cheats.html">Cheats</a></li>
                       <li><a href="../Views/Fight_methods.html">Fight</a>
                       <li><a href="">Images</a>
                          <ul class="dropdown">
                               <li><a href="../Views/Location.html">Location</a></li>
                               <li><a href="../Views/Screenshots.html">Screenshots</a></li>
                          </ul>
                       </li>
                       <li><a href="../Views/Project.html">Project</a></li>
                       <li><a href="../Views/Facts.html">Facts</a></li>
                   </ul>
                </div>
            </div>
            <!--------------Content----------->
            <div id="content">    
                  <div class="project">
                      <p>The developers wanted to make a game out of a combination of the previous two parts of Prince of Persia series. The first game, The Sands of Time, was easy in its atmosphere, and the second, Warrior Within, was much darker and darker.

In connection with the introduction of a system of quick kills artificial intelligence of enemies has been modified so that they can see and hear a character.

Many official videos included humorous content, for example, various bloopers game mechanics.</p>
                      <p><h>Sound:</h></p>
                      <p>Yuri Lowenthal, voiced Prince in The Sands of Time, he has confirmed that he also voiced the title character in The Two Thrones. Dark Prince was voiced by Rick Miller. Kailin and Farah voiced by Sarah Carlsen and Helen King , as an antagonist, Vizier, was voiced by Harry Standovski. Stuart Chatwood and Inon Zur, composer Warrior Within, and created the soundtrack for The Two Thrones.

In the Russian localization Prince voiced by Peter Ivashchenko, actor voiced him in the first and second part of the game. Dark Prince voiced by Alexander Gruzdev.</p>
                      <p><h>Graphics:</h></p>
                      <p>Graphic part of the game has not changed much compared to the second part of the game Prince of Persia: Warrior Within. Among the changes it is possible to note a little better lighting, shadows, engine optimization, slightly increased the number of polygons, as well as smoothing function (from 2 to 4 ).</p>
                  </div>
            </div>
        </div>
        <!--------------Footer----------->
            <div id="footer">
                <div class="contacts">
                     <ul>
                       <li><a href="../Views/Author.html">Author</a></li>
                       <li><a href="../Views/Contacts.html">Contacts</a></li>
                       <li><a href="../Views/Registration.html">Registration</a></li>
                       <li><a href="mailto://andrewteryanik@gmail.com">andrewteryanik@gmail.com</a></li>
                     </ul>
                </div>
                <!--<div class="up">
                    <a href="#header"><img src="../Images/Icons/arrow_top.png" title="Up"></a>
                </div>-->
          </div>
</body>
</html>


