<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Prince of Persia: The Two Thrones</title>
		<link rel="stylesheet" href="../CSS/style.css">
		<meta name="keywords" content="Prince of Persia: The Two Thrones">
		<meta name="description" content="Prince of Persia: The Two Thrones is an action-adventure video game developed and published by Ubisoft Montreal. It was released in December, 2005 in North America for the Xbox, Microsoft Windows, PlayStation 2, and the Nintendo GameCube.">
		<meta name="author" content="Andrew Teryanik">
	</head>
	<body>
        <div id="container">
           <!--------------Header----------------->
            <div id="header"> 
                <img class="logo" src="../Images/Home/logo5.png">
                <div class="search">
                    <form action="" method="">
                        <input class="search-2" type="text" name="first_name">
                        <input class="search-3" type="submit" value="Search">
                    </form>
                </div>
            </div>
                <!--------------Menu----------->
           <div id="menu">
                <div class="nav">
                    <ul>
                       <li><a href="../Index.html">Home</a></li>
                       <li><a href="../Views/Story.html">Story</a></li>
                       <li><a href="../Views/Gameplay.html">Gameplay</a></li>
                       <li><a href="../Views/Review.html">Review</a></li>
                       <li><a href="../Views/Characters.html">Characters</a></li>
                       <li><a href="">Enemies</a>
                           <ul class="dropdown">
                               <li><a href="../Views/Warriors.html">Warriors</a></li>
                               <li><a href="../Views/Boss.html">Boss</a></li>
                           </ul>
                       </li>
                       <li><a href="../Views/Weapon.html">Weapon</a></li>
                       <li><a href="../Views/Cheats.html">Cheats</a></li>
                       <li><a href="../Views/Fight_methods.html">Fight</a>
                       <li><a href="">Images</a>
                          <ul class="dropdown">
                               <li><a href="../Views/Location.html">Location</a></li>
                               <li><a href="../Views/Screenshots.html">Screenshots</a></li>
                          </ul>
                       </li>
                       <li><a href="../Views/Project.html">Project</a></li>
                       <li><a href="../Views/Facts.html">Facts</a></li>
                   </ul>
                </div>
            </div>
            <!--------------Content----------->
            <div id="content">    
                  <div class="review">
                      <p>There are several gaming companies without much zeal can produce very high-end games, just based on old knowledge base, changing only the shell. The most outstanding representatives of steel Electronic Arts and Ubisoft, who prefer new finds old passed a thousand times the trail, later released the final game of the second trilogy, Prince of Persia: The Two Thrones.</p>
                      <p>The history of all three games weaves and twists the writers think, what else is this possible to write and show the public what would she not only understood, but may have found something original for yourself, but alas, all very, very modest. From the Sands of Time, it became known that Babylon brought down a curse. At the main villain, Prince steals the dagger that kills the sands of time, that it all back. But again there is a villain named Dohaku - a bright representative of the class of demons who want somehow to kill the prince.
Now we need to go back in time, which would remove all sand, in both! Finally, the third part, which began a romantic scene Prince with Kailin, says that when the lovers returned, Babylon was again on fire, this time it did vizier of the first part, which also killed Kailin, in general, so it was possible to do games ad infinitum, but the developers have realized. They decided to give the Prince the dark side, now he still is and evil .
 Of course, history is teeming with shortcomings and lyapami, but it is not important, after all, the supply is good, you can even shed a tear, though, not realizing at the same time on any occasion: whether from the fact that our love has died, whether from the fact that so it is necessary. But we will not be given to panic, everything in order.
 </p>
                      <p>Developers are smart people, they know what to do, what to remove and what better not to touch at all. So in The Two Thrones we decided to move all of Warrior Within, especially for a variety of jumps, run up the wall, different acrobatic elements, although the question is really moot. Why change anything if they did better than any other project? That's right, no reason, after all, so you can boast of unique gameplay and physics. Battles take place even more rapidly than before, of course, all of this arcade, but the exclusion does not cause every enemy can behave in different ways, and can kill with one blow, yawning and saying that all monotonous.
AI realized that the human mind is not to surpass, but the number easily, so keep gentlemen, memorize combos and know, where is the key block. As before, the game has a Stealth, it is clear that developments have taken from another popular franchise Splinter Sell. It is very good when the company can be free to take something, thereby developing the game. With the enemy is better to act quietly, coming up behind him and silently killing. Otherwise you will have to fight not against one, as against 3-6 depending on the complexity level.
 In Prince of Persia: The Two Thrones appeared a sort of "fatality", that is, when you approach carefully to the enemy, and there is an inscription Speed Speed Kill, then you offer to click on an ode button and contemplate the whole nightmare in action with plenty of blood and eerily flickering screen. Although you can not click in time, then or departure, and even worse, get injured. In general, nothing new we have not seen in the tactical and technical interactions, another game where everyone likes to jump and gallop, and casually waving machetes, that is the nature and quality of the gameplay has not changed one iota.
If the gameplay was all somehow clear and well known, moreover, it was by and large gorgeous, the graphics in the last part satisfactory, in spite of all the authors of the Ubisoft Montreal have decided not to change anything in the outer shell, believing that people and skhapayut so, what they were absolutely right. You can find the positive in animation, character movements and physics, but when we see the angular and low-poly texture Prince and the entire environment would be desirable to chide careless authors for what they did not bother to even texture to correct, at the very least all smear blur.
 In addition, the world is like a piece of cardboard in the quests, completely static, no objects do not want to move, or even for a little move, stand as stumps. But Ubisoft once again rescued the artists and designers, they famously show the bright side, conceal weaknesses, as well as make an incredibly lively atmosphere, clap standing, but would not have gone anywhere, but the Prince could do to degrade, and there is, apparently, Their outward appearance is developing and moving forward.</p>
                      <p>Disadvantages include the management, which was in the original reference, here piled up a bunch of different keys. But even more annoying is that some levels you can pass on to the precipices many times, each step is fraught with danger, to save appear very rarely, is pumped from the checkpoint consoles still want to forget, but can not.</p>
                      <p>As always, the most flattering and positive words you can say to the address of sounds and music, composers, and actors have once again shown professionalism, do not even remember, what all three games in the series can be commended for music, but here everything is in order. We met heavy rock and oriental motifs, which relax you throughout the game.</p>
                      <p>Summarizing all the above, I wish to note that the multi-platform action game Prince of Persia: The Two Thrones continues to attract its excellent sound and dazzling acrobatics that captures from the start and does not let go until the end, introducing us into a trance, but who have already tried the previous games may be tired of the monotony, already weakly bonded plot and outdated graphics, it is a pity.</p>
                  </div>
            </div>
        </div>
        <!--------------Footer----------->
            <div id="footer">
                <div class="contacts">
                     <ul>
                       <li><a href="../Views/Author.html">Author</a></li>
                       <li><a href="../Views/Contacts.html">Contacts</a></li>
                       <li><a href="../Views/Registration.html">Registration</a></li>
                       <li><a href="mailto://andrewteryanik@gmail.com">andrewteryanik@gmail.com</a></li>
                     </ul>
                </div>
                <!--<div class="up">
                    <a href="#header"><img src="../Images/Icons/arrow_top.png" title="Up"></a>
                </div>-->
          </div>
        
</body>
</html>


