<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Prince of Persia: The Two Thrones</title>
		<link rel="stylesheet" href="../CSS/style.css">
		<meta name="keywords" content="Prince of Persia: The Two Thrones">
		<meta name="description" content="Prince of Persia: The Two Thrones is an action-adventure video game developed and published by Ubisoft Montreal. It was released in December, 2005 in North America for the Xbox, Microsoft Windows, PlayStation 2, and the Nintendo GameCube.">
		<meta name="author" content="Andrew Teryanik">
	</head>
	<body>
        <div id="container">
           <!--------------Header----------------->
            <div id="header"> 
                <img class="logo" src="../Images/Home/logo5.png">
                <div class="search">
                    <form action="" method="">
                        <input class="search-2" type="text" name="first_name">
                        <input class="search-3" type="submit" value="Search">
                    </form>
                </div>
            </div>
                <!--------------Menu----------->
           <div id="menu">
                <div class="nav">
                    <ul>
                       <li><a href="../Index.html">Home</a></li>
                       <li><a href="../Views/Story.html">Story</a></li>
                       <li><a href="../Views/Gameplay.html">Gameplay</a></li>
                       <li><a href="../Views/Review.html">Review</a></li>
                       <li><a href="../Views/Characters.html">Characters</a></li>
                       <li><a href="">Enemies</a>
                           <ul class="dropdown">
                               <li><a href="../Views/Warriors.html">Warriors</a></li>
                               <li><a href="../Views/Boss.html">Boss</a></li>
                           </ul>
                       </li>
                       <li><a href="../Views/Weapon.html">Weapon</a></li>
                       <li><a href="../Views/Cheats.html">Cheats</a></li>
                       <li><a href="../Views/Fight_methods.html">Fight</a>
                       <li><a href="">Images</a>
                          <ul class="dropdown">
                               <li><a href="../Views/Location.html">Location</a></li>
                               <li><a href="../Views/Screenshots.html">Screenshots</a></li>
                          </ul>
                       </li>
                       <li><a href="../Views/Project.html">Project</a></li>
                       <li><a href="../Views/Facts.html">Facts</a></li>
                   </ul>
                </div>
            </div>
            <!--------------Content----------->
            <div id="content">    
                <div class="history">
                    <p>Set immediately after the events on the Island of Time, the Prince returned to Babylon bringing with him his lover, Kaileena, the Empress of Time, only to find the city besieged by an unknown enemy. Later, the ship that the Prince and Kaileena were sailing on falls under attack. The boat is destroyed, and Kaileena drifts inland where she is kidnapped; the Prince witnesses this and begins to search for her abductors.</p>
                    <p>After wandering around for a while, the old Prince manages to catch up with Kaileena, only to find her in the hands of the Vizier. As before, on the Island of Time, the Prince canceled the very establishment of the Sands of Time, also resulting in cancelling the death of the Vizier.</p>
                    <p>However, when the Maharajah went to the Island of Time, he did not find the Sands, but books were found on island along with the Dagger of Time. After reviewing all this knowledge and receiving the dagger, the Vizier found that it would grant him eternal life, for which he needs the Empress of Time. With this knowledge, and from a vision granted by the Dagger, the Vizier went to Babylon, to await the Prince's arrival; knowing that the Prince would be returning there with Kaileena.</p>
                    <p>The Prince, seeing that the Vizier had plans to kill Kaileena, charged at him, only to be captured by an ambush by one of his minions. With the Prince watching on, the Vizier stabbed Kaileena with the Dagger of Time, recreating the sands and killing her. He stabs himself with the Dagger and gains the power of immortality and possesses Kaileena's essence. He becomes "Zurvan, the God of Time". Releasing the power of the sands once again, its power corrupts all Babylon, including his two bodyguards and, eventually, the Prince. During the chaos, the Prince was able to escape and once again acquires the Dagger of Time. He wakes up to find himself in a sewer, his left arm infected by the sands.</p>
                    <p>During his journey, the Prince is helped by Farah, who remembers nothing of their previous adventure because of the changed timeline. As a result of being infected with the Sands, the Prince's darker side is given sentience in the form of the Dark Prince. The Dark Prince is, at first, a cynical and brutal voice in his head. However, as time goes on, the Dark Prince is able to take control of the Prince's body and transforms his appearance into that of a shadowy Sand Creature. However, in order to sustain himself, he must use the sands of his enemies and his only weakness is water.</p>
                    <p>Another issue are the decisions that the Prince would have to make; being divided into only reclaiming his title and throne or being a true ruler, taking care of his people before facing his enemy. Farah will be decisive on this role, always reminding the Prince that his people and the nation's peace comes first compared to the simple and arrogant desire for vengeance against the Vizier. On the other hand, the Dark Prince will act as an opposite influence, always reminding the Prince of his quest of blood lust, and how stopping to save people will only delay him in finding a way to the throne.</p>
                    <p>After many battles, puzzles and the unfortunate kidnap of Farah by the Vizier, the Prince finds the body of Sharaman and his sword. The Prince finally realizes his childish and arrogant attitude and decides to face the consequences of his previous actions.</p>
                    <p>After a difficult battle, the Prince plunges a dagger into the heart of the Vizier, thereby killing him and contradicting the immortality of his greatest foe. Sands from the Vizier and the Sand Creatures merged into the image of Kaileena. She thanks the Prince for the kindness he showed her. After that, the Prince gives her the Dagger, and she removes the last bit of sand that infected the Prince. After this Kaileena's spirit passes on.</p>
                    <p>Suddenly, the Prince and Farah hear a strange ringing. The Prince sees his crown, but when he goes to pick it up, a man approaches in a cloak, and picks up the crown. The person is revealed to be the Dark Prince, who wants the Prince's kingdom and mentally strikes him with the Daggertail.</p>
                    <p>The Prince enters a mental realm and tries to eliminate the Dark Prince. The Dark Prince accuses the Prince of letting the power of time go. The Prince tells him that he has changed and no longer agrees with his ways. The Prince passes through many places from his past. He arrives on a platform with two thrones on it. Suddenly Farah appears and tells the Prince to leave this place of evil. Everywhere on the platform there are clones of the Dark Prince, who laugh at the Prince. After that, he begins to climb the steps leading out of the realm, which makes the Dark Prince panic. The Dark Prince is forever left behind.</p>
                    <p>The Prince wakes up on the roof beside of Farah. They start to talk, standing at the railing of the roof. Farah asks the Prince how he really knew her name. In response, the Prince decides to tell her his tale from when it really began.</p>
                </div>      
            </div>
        </div>
        <!--------------Footer----------->
            <div id="footer">
                <div class="contacts">
                     <ul>
                       <li><a href="../Views/Author.html">Author</a></li>
                       <li><a href="../Views/Contacts.html">Contacts</a></li>
                       <li><a href="../Views/Registration.html">Registration</a></li>
                       <li><a href="mailto://andrewteryanik@gmail.com">andrewteryanik@gmail.com</a></li>
                     </ul>
                </div>
                <!--<div class="up">
                    <a href="#header"><img src="../Images/Icons/arrow_top.png" title="Up"></a>
                </div>-->
          </div>
</body>
</html>


