<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Prince of Persia: The Two Thrones</title>
		<link rel="stylesheet" href="../CSS/style.css">
		<meta name="keywords" content="Prince of Persia: The Two Thrones">
		<meta name="description" content="Prince of Persia: The Two Thrones is an action-adventure video game developed and published by Ubisoft Montreal. It was released in December, 2005 in North America for the Xbox, Microsoft Windows, PlayStation 2, and the Nintendo GameCube.">
		<meta name="author" content="Andrew Teryanik">
	</head>
	<body>
        <div id="container">
           <!--------------Header----------------->
            <div id="header"> 
                <img class="logo" src="../Images/Home/logo5.png">
                <div class="search">
                    <form action="" method="">
                        <input class="search-2" type="text" name="first_name">
                        <input class="search-3" type="submit" value="Search">
                    </form>
                </div>
            </div>
                <!--------------Menu----------->
           <div id="menu">
                <div class="nav">
                    <ul>
                       <li><a href="../Index.html">Home</a></li>
                       <li><a href="../Views/Story.html">Story</a></li>
                       <li><a href="../Views/Gameplay.html">Gameplay</a></li>
                       <li><a href="../Views/Review.html">Review</a></li>
                       <li><a href="../Views/Characters.html">Characters</a></li>
                       <li><a href="">Enemies</a>
                           <ul class="dropdown">
                               <li><a href="../Views/Warriors.html">Warriors</a></li>
                               <li><a href="../Views/Boss.html">Boss</a></li>
                           </ul>
                       </li>
                       <li><a href="../Views/Weapon.html">Weapon</a></li>
                       <li><a href="../Views/Cheats.html">Cheats</a></li>
                       <li><a href="../Views/Fight_methods.html">Fight</a>
                       <li><a href="">Images</a>
                          <ul class="dropdown">
                               <li><a href="../Views/Location.html">Location</a></li>
                               <li><a href="../Views/Screenshots.html">Screenshots</a></li>
                          </ul>
                       </li>
                       <li><a href="../Views/Project.html">Project</a></li>
                       <li><a href="../Views/Facts.html">Facts</a></li>
                   </ul>
                </div>
            </div>
            <!--------------Content----------->
            <div id="content">    
                  <div class="weapon">
                      <p>Prince is the main weapon Dagger of Time. The left hand can take a sword, ax, mace or a knife, which may have special properties, such as the inviolability of the ability to overturn the enemy after the first impact, the ability to kill with a direct strike, invisibility or sand replenishment. In the Dark Prince's second weapon is a powerful long chain. At the end of the game Prince finds the sword of his father, who can not be thrown out and that kills all normal enemies with a single blow .</p><br>
                      <img src="../Images/Weapon/001.jpg" class="weapon-img" alt="DAGGERTAIL"><br>
                      <p>Daggertail: Basic weapon. Only weapon used by the Dark Prince. It is extremely effective and useful. It serves both as weapon to kill enemies (free-form fighting and speed kill), as well as whip.</p><br>
                      <img src="../Images/Weapon/002.jpg" class="weapon-img" alt="ROYAL SWORD"><br>
                      <p>Royal sword: Extra weapon. Available from the stage 35. The Well of Ancestors. Only weapon which isn't wearing out at all. It isn't possible to throw away it also but it is no minus, since it is extremely quick and effective.</p><br>
                      <img src="../Images/Weapon/004.jpg" class="weapon-img" alt="DAGGER OF TIME"><br>
                      <p>Dagger of time: Basic weapon, available from the stage 6. The Throne Room. Efficiency of the dagger of time is as weak as his predecessor, but it is possible to use it for breaking objects with purpose of acquiring sands of the time from them. Necessary to execute the speed kill attack.</p><br>
                      <img src="../Images/Weapon/005.jpg" class="weapon-img" alt="AXE"><br>
                      <p>Axe and sword: Extra weapon. It is inflicting heaviest wounds, but it is slowest at the same time. It is possible to take it away from Reptus. All its features (the speed and the power of inflicted wounds and durability), determining the combative value are suitably balanced. It is suitable for everything. It is possible to take the sabre away from the Guard.</p>
                      <p>The game has 4 secret weapons to get everyone, it is necessary to enter the code, and for the last three - and even complete the game at a certain level of complexity.</p>
                      <p>More can be found comic weapon - a wooden ax, it is destroyed after one hit, but if to throw him, he go astray opponent down.</p>
                  </div>      
            </div>
        </div>
        <!--------------Footer----------->
            <div id="footer">
                <div class="contacts">
                     <ul>
                       <li><a href="../Views/Author.html">Author</a></li>
                       <li><a href="../Views/Contacts.html">Contacts</a></li>
                       <li><a href="../Views/Registration.html">Registration</a></li>
                       <li><a href="mailto://andrewteryanik@gmail.com">andrewteryanik@gmail.com</a></li>
                     </ul>
                </div>
                <!--<div class="up">
                    <a href="#header"><img src="../Images/Icons/arrow_top.png" title="Up"></a>
                </div>-->
          </div>
</body>
</html>


